* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

.footer {
  padding: 5px 10px 2px 10px;
  border-radius: 5%;
  border: 2px solid #fff;
  font-size: 24px;
  background: #b3ffff;
  color: #003326;
}

.container {
  width: 100%;
  height: 95%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #e6ffff;
}

.josefin-sans-container {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.media-player {
  width: 400px;
  padding: 25px 35px;
  border-radius: 5%;
  border: 2px solid #fff;
  text-align: center;
  background: #b3ffff;
}

.josefin-sans-media-player {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.media-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.media-nav .circle, .bars {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #fff;
  padding-top: 5px;
  box-shadow: 0 5px 10px rgba(255, 26, 26,  0.25);
}

.media-nav svg {
  height: 20px;
  width: 100%;
  fill: #00e6ac;
}

.media-img {
  border-radius: 50%;
  border: 5px solid #fff;
  width: 250px;
  height: 230px;
  padding-top: 2px;
  box-shadow: 0 10px 60px rgba(255, 26, 26,  0.25);
}

.media-title {
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: 750;
  color: #00664d;
}

.media-description {
  margin-top: 5px;
  font-size: 1.05em;
  font-weight: 400;
  color: #003326;
}

.josefin-sans-media-tags {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
}

audio {
  margin: 5px;
}

#media-seeker {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  width: 100%;
  height: 5px;
  background: #00d724;
  border-radius: 2px;
  cursor: hand;
  margin: 40px 0px;
}

#media-seeker::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  width: 20px;
  height: 20px;
  background: #22ffdd;
  border-radius: 50%;
  border: 5px solid #00410b;
  box-shadow: 0 5px 5px rgba(255, 26, 26,  0.25);
}
#media-seeker::-moz-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  width: 20px;
  height: 20px;
  background: #22ffdd;
  border-radius: 50%;
  border: 5px solid #00410b;
  box-shadow: 0 5px 5px rgba(255, 26, 26,  0.25);
}
#media-seeker::-o-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  width: 20px;
  height: 20px;
  background: #22ffdd;
  border-radius: 50%;
  border: 5px solid #00410b;
  box-shadow: 0 5px 5px rgba(255, 26, 26,  0.25);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls .backward, .forward, .play-pause {
  margin: 10px;
  border-radius: 50%;
  border: 3px solid #00d724;
  box-shadow: 0 5px 5px rgba(255, 26, 26,  0.25);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: hand;
}

.controls .backward, .forward {
  width: 50px;
  height: 50px;
  background: #fff;
}

.controls #btn-backward, #btn-forward {
  height: 20px;
  width: 100%;
  fill: #1dfd81;
  margin: 3px;
}

.controls .play-pause {
  width: 100px;
  height: 100px;
  background: #1dfd81;
}

.controls #btn-play, #btn-pause {
  height: 70px;
  width: 100%;
  fill: #fff;
  margin: 3px;
}

#btn-pause {
  display: none;
}

#media-player {
  display: none;
}
